.new-arrival {
  background-color: green;
  width: 50px;
  color: white;
  font-size: 12px;
  font-weight: bold;
}

.price {
  font-size: 26px;
  font-weight: bold;
  padding-top: 10px;
}

.cart {
  background: #FE980F;
  color: #FFFFFF;
  font-size: 15px;
  margin-left: 20px;
}
