.logo {
  color: #02bd54 !important;
  font-size: 2.2rem;
  font-family: 'Fredoka One', cursive;
  // font-family: 'Calistoga', cursive;
  font-weight: 900;
}

.green {
  color: green;
  // color: #04c95b;
  font-size: 2.4em;
  display:inline;
}

.search-bar {
  height: 45px;
  border: 2px solid #0686fd;
}

.search-section {
  width: 400px !important;
}

.search-box {
  width: 100%;
}

// modify this class!
.badge-green {
  background: #2ecc71 none repeat scroll 0 0 !important;
  color: #fff;
  // border-radius: 3px !important;
  display: inline;
  border-radius: 10px;
  font-size: 13px;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}
